@font-face {
    font-family: 'Helomade';
    src: url('Helomade-Regular.woff2') format('woff2'),
        url('Helomade-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

