* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

body {
  font-weight: 600;
  background-color: #E8ECF5;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Header*/
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}
.header__inner .logo {
  font-size: 18px;
  width: 93px;
  height: 48px;
}

.menu {
  margin-left: auto;
}
.menu .menu__list {
  display: flex;
}
.menu .menu__list-item {
  margin-right: 80px;
}
.menu .menu__list-link {
  font-size: 15px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.9490196078);
}
.menu .menu__list-link:hover {
  color: #253E87;
}
.menu .menu__list-link:active {
  border-bottom: 2px solid #253E87;
  transform: rotate(-3.43deg);
}

.site_button {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: inherit;
  line-height: 1.3;
  padding-top: 15px;
  padding-right: 32px;
  padding-bottom: 15px;
  padding-left: 32px;
  border-radius: 35px;
  cursor: pointer;
  background-color: #253E87;
  text-align: center;
}
.site_button:active {
  filter: drop-shadow(0px 0px 15px #253E87);
}

/*Main-section*/
.hero__section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
}

.hero__inner {
  position: relative;
}

.border__one {
  position: absolute;
  top: -20px;
  left: 465px;
}

.border__two {
  position: absolute;
  top: -10px;
  left: 485px;
}

.border__three {
  position: absolute;
  top: 55px;
  left: 483px;
}

.hero__title {
  width: 319px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.1;
  color: #253e87;
  margin-bottom: 54px;
}

.hero__text {
  background-image: url(../images/paw_print\ 9.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__description {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: #333333;
  width: 612px;
  height: 96px;
}

.step__logo {
  position: relative;
}

.step__logo-item {
  position: absolute;
  top: 0;
  left: 180px;
}

.logo__circle {
  position: relative;
}

.circle__logo-item {
  position: absolute;
  top: 55px;
  left: 290px;
  min-width: 160px;
  height: 111px;
}

.logo__in-circle {
  position: absolute;
  top: 94px;
  left: 310px;
}

.hero__image {
  max-width: 100%;
}

/*News__section*/
.news__section {
  margin-top: 60px;
  background-color: #fff;
  background-image: url(../images/paw_print\ 9.svg);
  background-repeat: no-repeat;
}

.news__container {
  max-width: 1400px;
}

.news__title-last {
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  color: #253E87;
  margin-left: 40px;
  margin-bottom: 80px;
  width: 309px;
  height: 62px;
}

.news__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d3d9e9;
  border-radius: 20px;
}

.left__content-item {
  display: flex;
}
.left__content-item .user__avatar {
  max-width: 588px;
  height: 300px;
}

.right__content-item {
  margin-left: 30px;
}

.news__title {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.8);
  max-width: 550px;
  max-height: 96px;
  margin-bottom: 12px;
  line-height: 1.3;
  margin-top: 26px;
}

.news__description {
  max-width: 575px;
  height: 100px;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 17px;
}

.news__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #5bb839;
  text-decoration: none;
}

.news__link {
  background-image: url(../images/errow.svg);
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.news_bottom-card {
  display: inline-block;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}

.news__card-item--first {
  display: inline-block;
  border: 1px solid #d3d9e9;
  border-radius: 20px;
  max-width: 280px;
  height: 325px;
  margin-right: 26px;
}
.news__card-item--first .news__photo--first {
  width: 280px;
  height: 186px;
  border-radius: 20px;
}

.news__date--first {
  font-size: 12px;
  line-height: 134%;
  line-height: 1, 3;
  font-weight: normal;
  width: 63px;
  height: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 13px;
  margin-left: 14px;
  margin-bottom: 11px;
}

.news__description-item--first {
  max-width: 262px;
  height: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 13px;
  margin-left: 14px;
}

.link__news--first {
  width: 86px;
  height: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  color: #5bb839;
  margin-bottom: 26px;
  margin-left: 14px;
}

.link__news--first {
  background-image: url(../images/errow.svg);
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.news__card-item {
  display: inline-block;
  border: 1px solid #d3d9e9;
  border-radius: 20px;
  max-width: 280px;
  height: 325px;
  margin-right: 26px;
}
.news__card-item .news__date {
  font-size: 12px;
  line-height: 134%;
  line-height: 1, 3;
  font-weight: normal;
  width: 63px;
  height: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 13px;
  margin-left: 14px;
  margin-bottom: 11px;
}

.news__description-item {
  width: 262px;
  height: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 13px;
  margin-left: 14px;
}

.link__news {
  width: 86px;
  height: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3;
  color: #5bb839;
  margin-bottom: 26px;
  margin-left: 14px;
}

.link__news {
  background-image: url(../images/errow.svg);
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

.more__news {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link__more-news {
  margin-top: 51px;
  color: #5bb839;
}

.link__more-news {
  background-image: url(../images/errow.svg);
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

/*Footer-content*/
.footer__form {
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(37, 62, 135, 0.08);
  border-radius: 20px;
  height: 840px;
  margin-top: 90px;
}

.footer__background {
  background-image: url(../images/paw_print\ 9.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 170px;
  height: 162px;
}

.form__footer-title {
  max-width: 885px;
  height: 124px;
  font-weight: 600;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  color: #253e87;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  max-width: 1280px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 30%;
  margin-left: 40px;
}

.footer-right {
  padding-top: 60px;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  min-width: 570px;
}

.label__form {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.32;
  color: #333333;
  margin-bottom: 30px;
}

.footer-input {
  max-width: 532px;
  max-height: 54px;
  background: rgba(232, 236, 245, 0.37);
  border: 1px solid #e8ecf5;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 36px;
}
.footer-input:focus {
  border: 1px solid #253E87;
  outline: none;
}

input::-moz-placeholder {
  color: #7b89b1;
}

input:-ms-input-placeholder {
  color: #7b89b1;
}

input::placeholder {
  color: #7b89b1;
}

.form-area {
  margin-bottom: 39px;
}
.form-area:focus {
  border: 1px solid #253E87;
  outline: none;
}

.form__button {
  font-size: 18px;
  color: #ffffff;
  background: #5bb839;
  border-radius: 35px;
  cursor: pointer;
  padding: 15px 57px;
  border: none;
  max-width: 157px;
  height: 54px;
  margin-left: 80px;
}

.form-area {
  resize: none;
  max-width: 532px;
  height: 168px;
  background: rgba(232, 236, 245, 0.37);
  border: 1px solid #e8ecf5;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 15px;
  margin-bottom: 40px;
}

textarea::-moz-placeholder {
  color: #7b89b1;
}

textarea:-ms-input-placeholder {
  color: #7b89b1;
}

textarea::placeholder {
  color: #7b89b1;
}

.footer-item__location {
  width: 529px;
  height: 54px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 44px;
  padding-left: 45px;
  position: relative;
}

.footer-item__location::before {
  content: "";
  position: absolute;
  top: 9;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/locate.svg);
}

.footer-item__mail {
  width: 280px;
  height: 24px;
  font-family: "Rimouski";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 64px;
  padding-left: 45px;
  position: relative;
}

.footer-item__mail::before {
  content: "";
  position: absolute;
  top: 9;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/email.svg);
}

.footer-item__number {
  font-size: 18px;
  line-height: 1.3;
  color: #333333;
  width: 354px;
  height: 54px;
  padding-left: 45px;
  position: relative;
}

.footer-item__number::before {
  content: "";
  position: absolute;
  top: 9;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url(../images/Tell.svg);
}

.social__link {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.social__link-facebook {
  background-image: url(../images/facebook.svg);
  width: 28px;
  height: 28px;
  margin-right: 18px;
}

.social__link-twitter {
  background-image: url(../images/twitter.svg);
  width: 28px;
  height: 22px;
}

.bottom__content {
  width: 650px;
}

.bottom__content-item {
  background-image: url(../images/Ellipse\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom__dog-photo {
  position: relative;
}

.photo__dog {
  position: absolute;
  top: 25px;
  bottom: 0;
  right: 190px;
}

.woof {
  position: absolute;
  right: 65px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.73);
  transform: rotate(-18.97deg);
}/*# sourceMappingURL=style.css.map */