@font-face {
    font-family: 'Rimouski Rg';
    src: url('RimouskiRg-Bold.woff2') format('woff2'),
        url('RimouskiRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

